.navbar {
    width: 80%;
    height: 70px;
    background-color: #edf2f9;
    display: flex;
    border-radius: 50px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    padding: 30px;
    padding-top: 40px;
}

.navbar li p {
    color: #000000;
    font-size: 20px;
    display: flex;

}

.navbar li h1{
    color: #3a40e8;
    font-size: 24px;
    display: flex;

    align-items: center;
}
    
li {

    display: inline;
}


  

