.pill {
    width: 85%;
    height: 60px;
    background-color: #edf2f9;
    display: flex;
    border-radius: 50px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 2px;
    font-family: sans-serif;
}



.pill li p {
    color: #000000;
    font-size: 20px;
    display: flex;

}

.pill li h1{
    color: #0a6e85;
    font-size: 30px;
    display: flex;
    align-items: center;
}
    
li {
    display: inline;
}

