.profile_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    width: 40%;
}

.profile_info_bio_title {
    position: absolute;
    width: 1056px;
    height: 54px;
    left: 80px;
    top: 430px;

    font-family: 'Inter';
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    /* identical to box height, or 54px */

    letter-spacing: -0.022em;

    color: #000000;
}

.profile_info_bio_content {
    position: absolute;
    width: 1056px;
    height: 54px;
    left: 50px;
    top: 490px;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;

    color: #000000;
}

