/*  */
  .AuthorizationList-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .AuthorizationList-link {
    color: #61dafb;
  }
  
  @keyframes AuthorizationList-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .body{
    background-color: #DFE5F5 ;
    height: 1028px;
}
