
.box{
    margin-top: 0.1px;
}


.container{
    border-radius: 25px;
    border: 2px solid black;
    /* background-color: aqua; */
    width: 40%;
    margin: 0 auto;
}

.container-title{
    padding-top: 0.5%;
    border-bottom-style: solid;
    border-bottom-color: black;
}

.container-context{
    
    /* border-bottom-style: solid; */
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.container-sub-context{
    padding-top: 0.01px;
    padding-bottom: 0.01px;
    border-bottom-color: black;
    border-bottom-width: 0.01px;
    border-bottom-style: outset;
}

.container-text-box{
    margin-top:0.1px;
}

.container-text{
    /* background-color: blanchedalmond; */
    padding: 0.1px;
    margin-top: 0.25px;
    margin-bottom: 0.25px;
}