.LandingPage{
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('../assets/background_sample.jpg');
    background-repeat: no-repeat;
    height: 900px
}

h3 {
    font-size: 50px;
    font-weight: bold;
    color: #0a6e85;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    width: 100vw;
}

.LandingPage .start_button   {
    font-size: 35px;
    color: black;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 42%;
    padding: 20px;
    border-radius: 20px;
    
}