.box-query{
    margin-top: 0.1px;
    padding-top: 0.5cm;
}

.container-query{
    border-radius: 25px;
    border: 2px solid black;
    /* background-color: aqua; */
    width: 40%;
    margin: 0 auto;
    padding-bottom: 0.5cm;
}

.search-box{
    margin: 0 auto;
}

.box-content{
    width: 70%;
    margin: 0 auto;
}

.box-head{
    padding-bottom: 12px;

}

.box-body{
    padding-top: 12px;
}