.list {
    width: 80%;
    height: 80%;
    align-items: center;

    border-bottom: 1px solid #eaeaea;
    background-color: #ffffff;
    margin-left: 10%;
}

.table_list {
    background-color: #D5E1EC;
}

